<h1>
	<%= @category.name %>
</h1>

<% @category.tasks.each do |task| %>
	<strong>
		<%= task.title %> <%= link_to 'Edit', edit_category_task_path(@category, task) %> <%= link_to 'Completed', [task.category, task], method: :delete %>
	</strong>
	<p><%= task.description %></p>
<% end %>

<%= link_to 'New Task', new_category_task_path(@category) %>
<%= link_to 'Back', categories_path %>